@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <input class="form-control" type="text" id="input-name" />
        <hr />
        <button class="btn btn-primary" id="save-name">İsim Kaydet</button>
        <div class="alert alert-info">
            Baglantı Durumu: <strong id="connection-status"></strong>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>

    <script type="text/javascript">
        //Client'ın SignalR.API tarafındaki hub'a bağlanması gerekli.
        const hubAddress = "https://localhost:44303/MyHub";

        //Bağlantı oluşturuyorum.
        var connection = new signalR.HubConnectionBuilder().withUrl(hubAddress);
        changeConnectionState(connection.connectionState); //Bağlantı durumunu ekrana basıyorum.

        connection.start()
            .then(() => { //Başarılı ise
                changeConnectionState(connection.connectionState);

            })
            .catch((error) => { //Hata alırsa
                console.log(error);
            });


        function changeConnectionState(message) {
            $("#connection-status").text(message);
        }

        $("#save-name").click(() => { //Hub tarafındaki(API) metotu çağıracağız.

            let name = $("#input-name").val();

            //Client tarafındaki SendNameAsync metotunu invoke et ve name parametresini gönder.
            connection.invoke("SendNameAsync", name).then(() => { //Başarılı ise

            }).catch((error) => { //Başarısız ise
                console.log(`Error message: ${error}`);
            });
        });

        //Bir metota abone olma işlemi
        //MyHub'da yazmış olduğumuz "ReceiveName" metotuna abone oldu.
        connection.on("ReceiveName", (name) => {
            console.log(`Name: ${name}`);
        });

    </script>
}