@model List<Product>
@{
    ViewData["Title"] = "ProductList";
}

<p>
    <a class="btn btn-primary" href="#" id="btn-create-excel">Create Excel</a>
</p>

<h1>ProductList</h1>
<table class="table">
    <thead>
        <tr>
            <th> Name</th>
            <th>Price</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Description
                </td>

            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#btn-create-excel").click(function () {

                $.ajax({
                    url: "/Home/CreateExcel",
                    type: "GET",
                    dataType: "json",
                    success: function (data) {

                        $(".toast-body").html("Excel oluşturma isteği alınmıştır. Tamamlandığında bilgilendirileceksiniz.");

                        $("#liveToast").show();

                        toastTimeout = setTimeout(() => {
                            $("#liveToast").hide();
                        }, 3000)
                    },
                    error: function (err) {
                        alert("Excel dosyasını indirebilmeniz için üye olmanız gerekmektedir.")
                    }
                })
            })
        });
    </script>
}
